@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 12px;
}

.main-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
    
}


/* porcentaje que ocupa el banner */
.banner {
    width: 100%;
}

/* porcentaje que ocupa el section del main */
.section-ultima-visita,
.section-oferta {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px 0;
}
.section-ultima-visita-titulo,
.section-oferta-titulo{
    font-size: 24px;
    display: flex;
    align-self: start;
}
.section-ultima-visita-contenedor,
.section-oferta-contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
/* caja del producto */
.articulo {
    display: flex;
    flex-direction: column;
    padding: 12px 0 ;
    background-color: white;

}


/* caja que contiene a la imagen */
.articulo-imagen {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #ebebeb;
}
.articulo-contenedor-imagen{
    width: 200px;
}

.articulo-contenedor-imagen img{
    width: 100%;
}

/* caja del icono camion */
.articulo-icono {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #39b54a;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    bottom: -15px;
    position: absolute;
    right: 10px;
   
}

/* icono del camion */
.camion {
    color: #39b54a;
    transition: transform 0.3s ;
}

/* caja de la descripcion del producto */
.articulo-descripcion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

/* caja que contiene al precio y al descuento */
.articulo-renglon {
    display: flex;
    padding: 2px 4px;
    gap: 20px;
}

/* clase del precio */
.precios {
    font-size: 18px;
    width: 30%;
}

/* clase del decuento */
.descuento {
    font-size: 16px;
    color: #39b54a;
    width: 70%;
}
.articulo-titulo{
    transition: opacity 0.3s ease;
}

.footer-home {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-icono {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.descripcion-footer {
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
    /* margin-bottom: 10px; */
}
.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-contenedor h4 {
    font-size: 16px;
}

.copyright {
    text-align: start;
    color: #666;
    font-size: 12px;
}



/* TABLET */
@media(min-width: 768px) and (max-width:1023px) {
    .section-ultima-visita-contenedor,
    .section-oferta-contenedor{
    
        justify-content: space-between;
        width: 65%;
    }
    
.articulo{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
} 


}

/* DESCKTOP */
@media(min-width: 1023px) {
    .section-ultima-visita-contenedor,
    .section-oferta-contenedor{
        width: 100%;
    }
    .articulo:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transition: 1s;
    }
    .articulo-titulo {
        font-size: 16px;
        opacity: 0;
    }

    .articulo:hover .articulo-titulo {
        opacity: 1;
    }
    .articulo:hover .camion{
        transform: rotate(-90deg) ;
    }
    .footer-home{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-icono:hover{
        color: black ;

    }
    .footer-section{
        width: 30%;
    }

}